body 
{background-color:rgb(0, 0, 0);font-family:arial;color:white}
h1{color:grey;
font-family: 'Franklin Gothic Medium';}
.reddiv {
    background-color : white;
    color : rgb(2, 2, 2);
    width : 300px;
    padding : 30px;
    border-radius : 30px;
    margin : auto;
    text-align: center;
}
